body {
	font-family: 'Segoe UI';
	color: white;
	background-color: #B1D0E0;
}

/* h1 {
	width: fit-content;
} */

.screeningsTable, .screeningsTable > tr > td {
	border: 1px solid #1A374D;
	border-collapse: collapse;
	padding: 10px;
	font-size: 20px;
}

/* .seatsTable {
	border: 1px solid black;
	table-layout: fixed;
} */

.seat, .rowIndex {
	/* border: 1px solid black; */
	max-width: 50px;
	text-align: right;
	/* padding: 0;
	margin: 0; */
}

.rowIndex {
	padding-right: 20px;
	padding-left: 10px;
}

.imgSeat {
	max-width: 100%;
}

.emptySeat:hover, .userSeat:hover {
	cursor: pointer;
}

.seatsContainer {
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 10px;
}

.option {
	text-decoration: underline;
	margin: 0;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px solid black;
}

.screeningCell:hover {
	cursor: pointer;
	background-color: #B1D0E0;
	color: #1A374D;
}

/* .dateCell {
	background-color: #6998AB;
	color: #1A374D;
	font-weight: bold;
} */

label {
	font-size: 20px;
}

input {
	width: 100%;
	box-sizing: border-box;
	font-size: 15px;
}

button {
	background-color: transparent;
	outline: none;
	color: white;
}

.cinemaContainer {
	margin: 15px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0px 0px 30px 0px #1A374D;
}

.cinemaHeader {
	background-color: #1A374D;
	display: flex;
	align-items: stretch;
}

.headerBox {
	padding: 25px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	flex-grow: 1;
	border: 4px;
}

.cinemaInfoContainer {
	flex-grow: 15;
}

.cinemaTitle {
	width: fit-content;
}

.cinemaTitle:hover, .option:hover {
	cursor: pointer;
	color: #B1D0E0;
}

.cinemaInfo {
	margin: 0;
}

.userContainer {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 10px;
}

.infoContainer {
	display: flex;
	flex-flow: column;
	align-items: flex-end;
}

.outline {
	border: 3px solid white;
	border-radius: 40px;
	/* background-color: #406882; */
	display: flex;
	justify-content: center;
	min-width: 200px;
}

.outline:hover {
	cursor: pointer;
	border-color: #B1D0E0;
	color: #B1D0E0;
}

.cinemaContent {
	padding: 30px;
	background-color: #406882;
	display: flex;
}

.showMovies {
	align-content: flex-start;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 15px;
}

.showMenu {
	flex-flow: column;
	align-items: center;
}

.movieContainer {
	min-width: 150px;
	flex-basis: 18%;
	background-color: seashell ;
	position: relative;
	z-index: 1;
	border-radius: 10px;
	overflow: hidden;
}

.movieContainer:hover {
	cursor: pointer;
}

.titleContainer {
	font-size: calc(1vw + 2vh);
	color: #1A374D;
	position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
	text-align: center;
	z-index: -1;
}

.imgShowcase {
	vertical-align: bottom;
	max-width: 100%;
}

.inputContainer {
	margin-bottom: 15px;
}

.buttonContainer {
	margin-bottom: 20px;
}

.formTitle {
	margin-top: 0;
}

.summary {
	font-size: 20px;
}

.movieInfoContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 20px;
}

.showInfo {
	gap: 20px;
	flex-direction: column;
}

.imgPoster {
	/* width: 300px; */
	/* width: 100%; */
	max-width: 300px;
	width: 40vw;
	height: auto;
}

.infoBox {
	padding: 10px;
}

.showSeats {
	flex-direction: column;
	
	justify-content: center;
}

.chairLegendContainer {
	display: flex;
	justify-content: center;
}

.legend {
	display: flex;
	justify-content: center;
}

.chairLegend {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	flex-grow: 1;
	flex-basis: 0;
}

.imgChairLegend {
	width: 30%;
}

@media screen and (max-width: 750px) {
	.cinemaInfo {
		display: flex;
		justify-content: center;
	}

	.cinemaHeader {
		flex-direction: column;
	}

	.headerBox {
		align-items: center;
	}

	.movieInfoContainer {
		flex-direction: column;
		/* justify-content: center; */
		align-items: center;
	}

	.infoContainer {
		align-items: center;
	}

	/* .imgPoster {
		width: 70%;
		min-width: 200px;
	} */
}