body {
	font-family: 'Segoe UI';
	color: white;
	background-color: #B1D0E0;
}

/* h1 {
	width: fit-content;
} */

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px solid black;
}

h1:hover {
	cursor: pointer;
}

label {
	font-size: 20px;
}

input {
	width: 100%;
	box-sizing: border-box;
	font-size: 15px;
}

button {
	background-color: transparent;
	outline: none;
	color: white;
}

.cinemaContainer {
	margin: 15px;
	overflow: hidden;
	border-radius: 10px;
}

.cinemaHeader {
	background-color: #1A374D;
	display: flex;
	flex-wrap: wrap;	
	align-items: stretch;
}

.headerBox {
	padding: 25px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	flex-grow: 1;
	border: 4px;
}

.cinemaInfo {
	margin: 0;
}

.userContainer {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 10px;
}

.outline {
	border: 3px solid white;
	border-radius: 40px;
	/* background-color: #406882; */
	display: flex;
	justify-content: center;
	min-width: 200px;
}

.outline:hover {
	cursor: pointer;
}

.cinemaContent {
	padding: 30px;
	background-color: #406882;
	display: flex;
}

.showMovies {
	align-content: flex-start;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 15px;
}

.showMenu {
	flex-flow: column;
	align-items: center;
}

.movieContainer {
	min-width: 150px;
	flex-basis: 18%;
	background-color: seashell ;
	position: relative;
	z-index: 1;
	border-radius: 10px;
	overflow: hidden;
}

.movieContainer:hover {
	cursor: pointer;
}

.titleContainer {
	font-size: calc(1vw + 2vh);
	color: #1A374D;
	position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
	text-align: center;
	z-index: -1;
}

.movieInfoContainer {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: space-between;
	gap: 20px;
}

.showInfo {
	display: flex;
	gap: 10px;
	flex-direction: column;
}

.imgPoster {
	/* width: 300px; */
	/* width: 100%; */
	max-width: 300px;
	height: auto;
}

.infoBox {
	padding: 10px;
}

@media screen and (max-width: 767px) {
	.cinemaInfo {
		display: flex;
		justify-content: center;
	}

	.movieInfoContainer {
		flex-direction: column;
		/* justify-content: center; */
		align-items: center;
	}

	/* .imgPoster {
		width: 40%;
		min-width: 200px;
	} */
}